<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/phrase.css"/>
    <title>phrase_game</title>
</head>
<body>
    <div id="chose" class="row">
        <div class="offset-3 col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">◯◯◯に当てはまるフレーズを選んで</h4>
                    <button type="button" class="btn btn-primary btn-lg btn-block text-left">1. 白い石</button>
                    <button type="button" class="btn btn-primary btn-lg btn-block text-left">2. 黒い石</button>
                    <button type="button" class="btn btn-primary btn-lg btn-block text-left">3. どちらも同じ</button>
                </div>
            </div>
        </div>
    </div>
    <div id="phrase">
        <h5 class="text-center">◯◯◯の◯◯◯の連れ</h5>
        <h5 class="text-center">美味しい◯◯◯作ったお前</h5>
        <h5 class="text-center">◯◯◯な女がタイプの俺</h5>
        <h5 class="text-center">一目惚れ</h5>
    </div>
</body>
</html>
